*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1280px;
}
header{
    height: 213px;
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cidade{
    position: absolute;
    width: 165px;
    height: 75px;
    left: 207px;
    top: 69px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 213;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
#botão1{
    position: absolute;
    width: 197px;
    height: 82px;
    left: 555px;
    top: 65px;
    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 36px;
}
#botão2{
    position:absolute;
    width: 197px;
    height: 82px;
    left: 779px;
    top: 65px;

    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 36px;
}
#botão3 {
    position: absolute;
    width: 197px;
    height: 82px;
    left: 1003px;
    top: 65px;
    background: #C4C4C4;
    border: 1px solid #000000;
    border-radius: 36px;
}
.banner{
    position: absolute;
    width: 1280px;
    height: 532px;
    left: 0px;
    top: 213px;
}
p{
    font-size: 25px;
    align-items: center;
    padding: 20px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-around;
    font-style: normal;
}
#curiosidades{
    position: absolute;
    width: 580px;
    height: 42px;
    left: 123px;
    top: 843px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}
#card1{
    position: absolute;
    width: 335px;
    height: 534px;
    left: 123px;
    top: 922px;
    background: #C4C4C4;
    border-radius: 31px;
}
#card2{
    position: absolute;
    width: 335px;
    height: 534px;
    left: 494px;
    top: 922px;

    background: #C4C4C4;
    border-radius: 31px;
}
#card3{
    position: absolute;
    width: 335px;
    height: 534px;
    left: 865px;
    top: 922px;

    background: #C4C4C4;
    border-radius: 31px;
}
.video{
    position: absolute;
    width: 92px;
    height: 42px;
    left: 123px;
    top: 1596px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

color: #000000;
}
#video{
    position: absolute;
    width: 1077px;
    height: 534px;
    left: 123px;
    top: 1675px;

    background: #C4C4C4;
    border-radius: 31px;
}
footer{
    position: absolute;
    width: 1280px;
    height: 414px;
    left: 0px;
    top: 2442px;

    background: #C4C4C4;
}
.Linkedin{
    background: url('https://api.iconify.design/logos/linkedin-icon.svg') no-repeat center center / contain;
    position: absolute;
    width: 130px;
    height: 130px;
    left: 410px;
    bottom: 150px;
    border: none;
    border-radius: 130px;
}
.texto1{
    position: absolute;
    width: 136px;
    height: 42px;
    left: 380px;
    bottom: 90px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}
.GitHub{
    background: url('https://api.iconify.design/akar-icons/github-fill.svg') no-repeat center center / contain;
    position: absolute;
    width: 130px;
    height: 130px;
    left: 800px;
    bottom: 150px;
    border: none;
    border-radius: 130px;
}
.texto2{
    position: absolute;
    width: 111px;
    height: 42px;
    left: 777px;
    bottom: 90px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}
span{
    font-size: 40px;
    padding: 25px;
    padding-top: 20px;
    font-weight: bold;
}
.direito{
    position: absolute;
    bottom: 0;
    font-size: 15px;
}